.button-blue {
	BACKGROUND-POSITION: center center; FONT-WEIGHT: normal; FONT-SIZE: 9pt; WORD-SPACING: normal; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: normal; BACKGROUND-COLOR: #d2f0ff; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.black-9 {
	FONT: 9pt/18px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.black-12 {
	FONT: 12pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.ash-12-80 {
	FONT: 12pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #333333; TEXT-DECORATION: none
}
.ash-9-50 {
	TEXT-TRANSFORM: none;
	COLOR: #dbdbdb;
	TEXT-DECORATION: none;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	line-height: 16px;
}
.ash-12-50 {
	FONT: 12pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #666666; TEXT-DECORATION: none
}
.ash-9-80 {
	TEXT-TRANSFORM: none;
	COLOR: #626262;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 20px;
}
.white-9 {
	TEXT-TRANSFORM: none;
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 20px;
}
.white-12 {
	FONT: 12pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.title-black-14 {
	FONT: bold 14pt "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.red-9 {
	FONT: 9pt/18px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #990000; TEXT-DECORATION: none
}
.red-12 {
	FONT: 12pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #990000; TEXT-DECORATION: none
}
.green-9 {
	FONT: 9pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #003300; TEXT-DECORATION: none
}
.green-12 {
	FONT: 12pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #003300; TEXT-DECORATION: none
}
.blue-9 {
	FONT: 9pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #0066cc; TEXT-DECORATION: none
}
.blue-12 {
	FONT: 12pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #003399; TEXT-DECORATION: none
}
.black-10-B {
	FONT: bold 10pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.button-ash {
	BACKGROUND-POSITION: center center; FONT-WEIGHT: normal; FONT-SIZE: 9pt; WORD-SPACING: normal; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: normal; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.button-white {
	BACKGROUND-POSITION: center center; FONT-WEIGHT: normal; FONT-SIZE: 9pt; WORD-SPACING: normal; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: normal; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.button-yello {
	BORDER-RIGHT: #ff9900 1px solid; BACKGROUND-POSITION: center center; BORDER-TOP: #ff9900 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; WORD-SPACING: normal; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; BORDER-LEFT: #ff9900 1px solid; COLOR: #ff6600; BORDER-BOTTOM: #ff9900 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: normal; BACKGROUND-COLOR: #ffffcc; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.button-green {
	BORDER-RIGHT: #003300 1px solid; BACKGROUND-POSITION: center center; BORDER-TOP: #003300 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; WORD-SPACING: normal; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; BORDER-LEFT: #003300 1px solid; COLOR: #003300; BORDER-BOTTOM: #003300 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: normal; BACKGROUND-COLOR: #a3dd99; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.button-red {
	BORDER-RIGHT: #990000 1px solid; BACKGROUND-POSITION: center center; BORDER-TOP: #990000 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; WORD-SPACING: normal; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; BORDER-LEFT: #990000 1px solid; COLOR: #990000; BORDER-BOTTOM: #990000 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: normal; BACKGROUND-COLOR: #ffcc99; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.input {
	border: 1px solid #a2a2a2;
}
.input-ash {
	BORDER-RIGHT: #333333 1px solid;
	BORDER-TOP: #333333 1px solid;
	BACKGROUND-IMAGE: url(images/d1.gif);
	BORDER-LEFT: #333333 1px solid;
	BORDER-BOTTOM: #333333 1px solid;
	HEIGHT: 18px;
	font-family: "宋体";
	font-size: 9pt;
	color: #999999;
}
.input-red {
	BORDER-RIGHT: #897a5b 1px solid; BORDER-TOP: #897a5b 1px solid; BORDER-LEFT: #897a5b 1px solid; BORDER-BOTTOM: #897a5b 1px solid
}
.input-blue {
	BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; BORDER-LEFT: #003399 1px solid; BORDER-BOTTOM: #003399 1px solid; BACKGROUND-COLOR: #d5eaff
}
.form-blue {
	BORDER-RIGHT: #0066cc 1pt solid; PADDING-RIGHT: 1px; BORDER-TOP: #0066cc 1pt solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px; WORD-SPACING: normal; FONT: 9pt "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; BORDER-LEFT: #0066cc 1pt solid; WIDTH: auto; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #0066cc 1pt solid; LIST-STYLE-TYPE: none; LETTER-SPACING: normal; HEIGHT: auto; BACKGROUND-COLOR: #d5eaff; TEXT-DECORATION: none
}
.input-green {
	BORDER-RIGHT: #003300 1px solid; BORDER-TOP: #003300 1px solid; BORDER-LEFT: #003300 1px solid; BORDER-BOTTOM: #003300 1px solid; BACKGROUND-COLOR: #e7ffd7
}
.c-blue {
	BACKGROUND-COLOR: #d5eaff
}
.c-navyblue {
	BACKGROUND-COLOR: #4893de
}
.button-blue2 {
	BORDER-RIGHT: #003366 1px solid; BACKGROUND-POSITION: center center; BORDER-TOP: #003366 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; WORD-SPACING: normal; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; BORDER-LEFT: #003366 1px solid; COLOR: #000000; BORDER-BOTTOM: #003366 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: normal; BACKGROUND-COLOR: #d2f0ff; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.title-black-18 {
	FONT: bold 18pt "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.black-9-18 {
	FONT: 9pt/18px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.title-black-16 {
	FONT: bold 16pt "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.black-10 {
	FONT: 10pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.black-11 {
	FONT: 11pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.form {
	BORDER-RIGHT: #000000 1pt solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1pt solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px; WORD-SPACING: normal; BORDER-LEFT: #000000 1pt solid; WIDTH: auto; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1pt solid; LIST-STYLE-TYPE: none; LETTER-SPACING: normal; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.blue-9-003399 {
	FONT: 9pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #003399; TEXT-DECORATION: none
}
.ash-9-80-18 {
	FONT: 9pt/18px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #333333; TEXT-DECORATION: none
}
.button-buled {
	BORDER-RIGHT: #6699ff 1px solid; BACKGROUND-POSITION: center center; BORDER-TOP: #6699ff 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(cssimages/buttond.gif); WORD-SPACING: normal; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; BORDER-LEFT: #6699ff 1px solid; COLOR: #000000; BORDER-BOTTOM: #6699ff 1px solid; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: normal; BACKGROUND-COLOR: #d2f0ff; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.blue-9-055ed3 {
	FONT: 9pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #055ed3; TEXT-DECORATION: none
}
.blue-9-2105D3 {
	FONT: 9pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #2105d3; TEXT-DECORATION: none
}
.black-9-22 {
	FONT: 9pt/22px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.org {
	FONT: 9pt/20px "Arial", "Helvetica", "sans-serif"; TEXT-TRANSFORM: none; COLOR: #f7941d; TEXT-DECORATION: none
}
.form-red {
	BORDER-RIGHT: #67020c 1pt solid; PADDING-RIGHT: 1px; BORDER-TOP: #67020c 1pt solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(images/kd.gif); PADDING-BOTTOM: 1px; MARGIN: 1px; WORD-SPACING: normal; BORDER-LEFT: #67020c 1pt solid; WIDTH: auto; COLOR: #ffcc00; PADDING-TOP: 1px; BORDER-BOTTOM: #67020c 1pt solid; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LIST-STYLE-TYPE: none; LETTER-SPACING: normal; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.input-no {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px
}
.ash-9-80-airl {

	TEXT-TRANSFORM: none;
	COLOR: #707070;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 20px;
}
.dw {
	background-repeat: repeat-x;
	background-position: center top;
	background-image: url(images/index1_17.gif);
}
.dw2 {

	background-repeat: no-repeat;
	background-position: right bottom;
}
.dw3 {

	background-repeat: no-repeat;
	background-position: left top;
}
.dw1 {

	background-repeat: no-repeat;
	background-position: center center;
}
.bian {
	border: 1px solid #FFA6A8;
}
.bian1 {
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #FFA6A8;
	border-right-width: 1px;
}
.bian2 {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #FFA6A8;
}
.red-999 {
	TEXT-TRANSFORM: none;
	COLOR: #cd0072;
	TEXT-DECORATION: none;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	line-height: 18px;
}
.wb {
	border: 1px solid #FFFFFF;
}
.wb-y {

	border: 1px solid #f39700;
}
.wb-b {


	border: 1px solid #000000;
}
.white-k {
	TEXT-TRANSFORM: none;
	TEXT-DECORATION: none;
	border: 1px solid #FFFFFF;
}
.y-9 {
	TEXT-TRANSFORM: none;
	COLOR: #f9ac2f;
	TEXT-DECORATION: none;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	line-height: 18px;
}
.y-92 {

	TEXT-TRANSFORM: none;
	COLOR: #69582d;
	TEXT-DECORATION: none;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	line-height: 16px;
}
