/**  文档注释
 * parox
 *
 * main css for parox official website
 *
 * @project      parox
 * @author       Design Team at Parox
 * @copyright    2014 杭州道曼科技有限公司
 *
 * @colordef     #333; main text
 */

html{background-color: #f9f9f9; height: inherit ; min-height: 100%;}
body { margin-bottom:300px; height: auto; overflow-y: auto;}
.btn{ transition:all 0.2s ease-in-out 0.2s}
.btn-paroxlogin,.ipt-paroxlogin{ height:64px}
.img_auto{ max-width:100%;  height:auto}
.wrap{ background-color:#f9f9f9; padding-top:63px; margin-bottom: -60px;}
.parox_main{ margin:0 auto -286px; padding:0 0 286px;}

#parox-home-1_6 .parox_header{ background-color: transparent !important; box-shadow:0 0 0 transparent !important;}


#parox-home-1_6 .navbar-default .navbar-collapse a {
	color: #fff;
	border-bottom: 2px solid transparent;
	transition: all 0.2s ease-in-out 0;
	display: block;
	padding: 10px 15px;
	line-height: 41px;
}

#parox-home-1_6 .navbar-default .navbar-nav > li > a:hover,
#parox-home-1_6 .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: transparent;
	border-bottom:2px solid #fff;
}

#parox-home-1_6 .navbar-default .navbar-nav > .active > a,
#parox-home-1_6 .navbar-default .navbar-nav > .active > a:hover,
#parox-home-1_6 .navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
	border-bottom: 2px solid #fff;
}
#parox-home-1_6 .navbar-default .navbar-nav > .disabled > a,
#parox-home-1_6 .navbar-default .navbar-nav > .disabled > a:hover,
#parox-home-1_6 .navbar-default .navbar-nav > .disabled > a:focus {
	color: #fff;
	background-color: transparent;
}
#parox-home-1_6 .navbar{ position:absolute; z-index: 99; top: 0; width: 100%;}
#parox-home-1_6 .p_m{ margin-top: -63px !important;}
#parox-home-1_6 .verifytip{ z-index: 99; text-indent:0.5em; width: 95%; text-align: left;border-radius: 3px; margin-top:5px; font-size: 13px !important; background-color: #fff;background-color: rgba(255,255,255,0.8);}
#parox-home-1_6 .navbar-collapse{}

.parox_footer{width: 100%;height: 300px;position: absolute;bottom: 0; background-color:#3C8DBC; color:#fff; line-height:2em; font-size:12px;text-shadow:0 0 0.5px #000;text-shadow:0 0 0.5px rgba(0,0,0,0.8);}
.parox_header{ background-color:#FFF !important;  box-shadow:0 0 3px #666666}

/* Sticky footer styles
-------------------------------------------------- */


.navbar-default {
	background-color: #ffffff;
	border-color: #e7e7e7;
}

.navbar-default.base-header-nav{background-color: #ffffff !important; color:#555 !important;}
.navbar-default.base-header-nav a{ color: #555 !important;}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #3C8DBC;
	background-color: transparent;
}
.navbar-default .navbar-text {
	color: #555;
}

.navbar-default .navbar-nav > li > a {
	color: #555;
	border-bottom:2px solid transparent;
	transition:all 0.2s ease-in-out 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #555;
	background-color: transparent;
	border-bottom:2px solid #555;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #555;
	background-color: transparent;
	border-bottom:2px solid #555;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: #555;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #2a6496;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #555;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #e7e7e7;
}

.navbar-default .navbar-collapse a{
	color: #555;
	border-bottom:2px solid transparent;
	transition:all 0.2s ease-in-out 0;
	display: block;
	padding: 10px 15px;
	line-height:41px;
}
.navbar-default .navbar-collapse a:hover,
.navbar-default .navbar-collapse a:focus {
	color: #555;
	text-decoration:none;
	background-color: transparent;
	border-bottom:2px solid #ffffff;
	line-height:41px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #e7e7e7;
	color: #555555;
}

.navbar-fa > li:hover > a,
.navbar-fa > li.active > a {
	color: #2c7ba3 !important;
	border-color: transparent !important;
}

.navbar-submenu > ul {
	position: absolute;
	width: 350px;
	left: -97px;
	top: 63px;
	font-size: 14px !important;
	display: none;
}

.navbar-submenu > ul > li {
	padding: 0 !important;
	margin: 0 !important;
}

.navbar-submenu > ul > li > a {
	display: inline-block;
	border-bottom: 2px solid transparent !important;
}

.navbar-submenu > ul > li:hover > a,
.navbar-submenu > ul > li.active > a {
	border-color: #2c7ba3 !important;
	color: #2c7ba3 !important;
}

.active.navbar-submenu > a {
	margin-bottom: 63px !important;
	border-color: transparent !important;
	color: #2c7ba3 !important;
}
.active.navbar-submenu > ul { display: block !important; }






.p_m{ /*text-shadow:0 0 0.5px #999;text-shadow:0 0 0.5px rgba(125,125,125,0.5);*/}
.p_m.h_m { margin-top: 63px; }
.p_m_b{position:relative; background-color: #f9f9f9}
.p_m_i{position:absolute; width:100%; left:0; top:0; text-align:center;/*text-shadow:1px 1px 2px #999999; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);*/}
.p_m_i2{position:absolute; left:0; top:0;text-shadow:1px 1px #042a4a; text-shadow:1px 1px rgba(4,42,74,0.5)}
.p_m_h2{ margin-top:8%; font-size:52px}
.p_m_h3{ margin-bottom:3%; font-size:24px}

.p_f_h{ line-height:5em;padding-top:2em}
.p_f_h2{ background:url(http://www.parox.cn/images/images1.6/home/p_h_bg.jpg) left top repeat;}
.p_f_h3{ background-color:#ffffff; padding:5% 0; border-top:1px solid #dddddd}
.p_f_h4{ background-color:#fdfdfd; padding:5% 0; border-top:1px solid #dddddd}
.p_g_1_l{ background:url(http://www.parox.cn/images/images1.6/home/p_m_01_i.jpg) center bottom no-repeat; background-size:100%; padding-bottom:25%}
#p_g_2.p_f_h4{ background:#fdfdfd url(http://www.parox.cn/images/images1.6/home/p_m_02.jpg) center bottom no-repeat; background-size:100%; padding-bottom:20%}
.p_g_3_l{ background:url(http://www.parox.cn/images/images1.6/home/p_m_03_i.jpg) center bottom no-repeat; background-size:100%; padding-bottom:25%}
.p_g_4_l{background:url(http://www.parox.cn/images/images1.6/home/p_m_04_i.jpg) center bottom no-repeat; background-size:100%; padding-bottom:25%}
.p_g_5_l{background:url(http://www.parox.cn/images/images1.6/home/p_m_05_i.jpg) center bottom no-repeat; background-size:100%; padding-bottom:25%}
#p_g_6.p_f_h4{ background:#fdfdfd url(http://www.parox.cn/images/images1.6/home/p_m_06.jpg) center bottom no-repeat; background-size:100%; padding-bottom:20%}
.p_t{ padding:5% 0; background-color:#f5f5f5;text-shadow:0 0 0.5px #999;text-shadow:0 0 0.5px rgba(125,125,125,0.5); box-shadow-top:10px 10px 5px #888888}


.p_f_h7 { background:#ffffff url("../../images/images1.6/home/p_m_07.png") center bottom no-repeat; background-size:100%; padding:5% 0 18.5% 0; border-bottom: 1px solid #ddd;}
.p_f_h8 { background:#fdfdfd url("../../images/images1.6/home/p_m_08.png") center no-repeat; background-size:100%; padding:5% 0 20% 0; border-bottom: 1px solid #ddd; }

.btn-breath{ position:absolute; bottom:5%; left:47.5%; border-radius:50%; background-color:transparent; background-color:rgba(205,205,205,0.1);border-color:transparent;  height:86px; width:86px; font-size:36px; animation:paroxbreath 8s; -moz-animation:paroxbreath 8s; -o-animation:paroxbreath 8s;animation-play-state:running;
	-moz-animation: paroxBreath 5s;	/* Firefox */
	-webkit-animation: paroxBreath 5s;	/* Safari 和 Chrome */
	-o-animation: paroxBreath 5s;	/* Opera */
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;}
.btn-breath:hover{background-color:#f0f0f0; background-color:rgba(255,255,255,0.5);border-color:transparent;animation-play-state:paused}

/**/
.p_f_h{ }
.thumbnail{ border-color:transparent;box-shadow:none;-webkit-box-shadow:none; background-color: #f9f9f9}
.thumbnail:hover{ border-color:transparent;box-shadow:none;-webkit-box-shadow:none;}
.p_f_b{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	opacity:0.6;
	transition:all 0.2s ease-in-out 0s;
}
.p_f_b:hover{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: none; /* IE6-9 */
	-webkit-filter: grayscale(0); /* Chrome 19+ & Safari 6+ */
	opacity:1;
	margin-top:-5px;
	margin-bottom:5px;
}
.p_f_bd{transition:all 0.2s ease-in-out 0s;max-width:100%!important;width:100%!important;}
.p_f_bd:hover{margin-top:-5px;margin-bottom:5px;}
.pfb_1{ background:url(http://www.parox.cn/images/images1.6/home/p_1.png) left top no-repeat;}

.img-change { position: relative; }
.img-change .gray { position: absolute ; top: 4px; left: 0; right: 0; bottom: 0; }

.img-change:hover .gray {
	display: none !important;
	transition: all 0.2s ease-in-out 0s;
}

.img-change:hover img {
	margin-top: -5px;
	margin-bottom: 5px;
	transition: all 0.2s ease-in-out 0s;
	}


/**/
.parox_footer a{ color:#fff; border-bottom:1px solid transparent; transition:border 0.5s}
.parox_footer a:hover{ color:#fff;border-bottom:1px solid #fff; text-decoration:none}
.p_ft_a{ padding-top:15px}
.p_ft_l a{ background:url(http://www.parox.cn/images/images1.6/home/parox_ft_l.png) left top no-repeat; height:50px; width:50px; border:none; transition: background-position 0.5s}
.p_ft_l a:hover{border:none}
.p_ft_l a.email{ }
.p_ft_l a.email:hover{background-position:left -50px}
.p_ft_l a.qq{background-position:-60px top}
.p_ft_l a.qq:hover{background-position:-60px -50px}
.p_ft_l a.weibo{background-position:-120px top}
.p_ft_l a.weibo:hover{background-position:-120px -50px}
.p_ft_l a.weixin{background-position:-180px top}
.p_ft_l a.weixin:hover{background-position:-180px -50px}
.p_ft_icp{ background-color:#2f2f2f; line-height:4em;}

.p_m_us{ background:url(http://www.parox.cn/images/images1.6/home/p_h_bg.jpg) left top repeat;}
.parox_us{ padding:2% 0}
.parox-items{}
.parox-tab{ margin:0 auto; max-width:468px; border:none}
.parox-tab li a{ border:1px solid #7c868c; border-radius:0; margin-right:-1px; padding:8px 30px; color:#666666}
.parox-tab li a:hover { background-color:#e8ecee;color:#666666}
.parox-tab li.active a { background-color:#478ecb !important; color:#ffffff !important;}
.parox-tab li.active a:hover { background-color:#e8ecee !important; color:#666666 !important;}
/*.parox-tab-content{ min-height:800px}*/
.text-us{color:#666666}
p.text-us{ text-indent:2em; line-height:2em}
.p_l_bd{ border-bottom:1px solid #ccc}

/**/
.p_l_blank{ border:1px solid #cccccc; margin-top:5%; margin-bottom:2%; padding:2% 5% 2% 5%;}
.p_l_blank .form-control-feedback{top: 8px !important;left: 8px;}
.p_l_blank .has-feedback .form-control {padding-left: 32.5px;padding-right:5px}
.p_l_blank_mini{ max-width:420px; margin:0 auto}
.p_mini_user{ border-top-left-radius:3px; border-bottom-left-radius:0;border-bottom-width:0}
.p_mini_user_ipt{border-top-right-radius:3px; border-bottom-right-radius:0; border-bottom-width:0}
.p_mini_psd{ border-top-left-radius:0; border-bottom-left-radius:3px;}
.p_mini_psd_ipt{ border-top-right-radius:0; border-bottom-right-radius:3px}
.h-colorA{ color:#006db8}
.h-colorB{ color:#d95225}
.h-colorC{ color:#3c8dbc}
.h-colorD{ color:#f0830e}
.h-colorE{ color:#009d6f}
.b_colorA{ background-color:#006db8}
.b_colorB{ background-color:#d95225}
.b_colorC{ background-color:#3c8dbc}
.b_colorD{ background-color:#f0830e}
.b_colorE{ background-color:#009d6f}
.p_cell{ height:180px; padding-left:0 !important; padding-right:0 !important; margin-right:-1px;}
.p_bk{background-color:#ffffff; border:1px solid #d0d0d0; height:180px}
.p_bk_hover{height:180px; padding:20px 0; color:#ffffff;border:1px solid #d0d0d0; display:none}
.p_l_cell span{ display:inline-block; width:50%}
.p_l_cell span:first-child{ text-align:right}
.btn-price{ background-color:#ffffff; box-shadow:transparent; color:#222; border-radius:3px; width:60%}
.btn-price:hover{ background-color:transparent; color:#fff}

.p_p_blockGray {padding: 5% 0 0;}
.p_p_block{background-color: #ffffff;padding: 5% 0 0;}
.p_p_blockGray{ }
.color-check{ color:#80c638}

.p_it_tit{ border:5px solid #666; display:block; height:50px; width:50px; border-radius:50%; font-size:25px; line-height:40px; color:#666}
.p_p_block td{ padding:20px 10px !important}

.reg_block{ margin:5% 0}
.reg_block_l{ padding-bottom:5%}
.reg_group{ padding:2% 0}

.p_axis li{ display:inline-block}
.p_axis_l{ width:10%}
.p_axis_lt{ height:5px; overflow:hidden; width:100%; background-color:#b6b6b6; border-radius:2px}
.p_axis_lt.active{background-color:#3c8dbc}
.p_a_n{ background:#fff url(http://www.parox.cn/images/images1.6/home/bg_axis.gif) left -35px no-repeat; width:35px; height:35px; line-height:35px; text-align:center; color:#fff; display:inline-block}
.p_a_n.active{ background-position: left top}

.p_h_banner { margin-top: 14%; }
.p_h_banner h2 { font-size: 55px; margin-bottom: 20px; margin-left: 100px; }
.p_h_banner h3 { font-size: 40px; margin-left: 100px;}
.p_h_ios { background-color: #1177c1 !important;padding-top: 20px;}
.p_h_pm { background-color: #e86105 !important; padding-top: 20px; }
.p_h_java { background-color: #7056ce !important; padding-top: 20px;}
.p_h_test { background-color: #0a4595 !important;}
.p_h_visual { background-color: #eb125f !important; padding-top: 20px;}
.p_h_interaction { background-color: #1177c1 !important; padding-top: 20px;}
.p_h_onlinesale { background-color: #13ae67 !important; padding-top: 20px;}
.p_h_seo { background-color: #7056ce !important; padding-top: 20px;}
.p_h_sale { background-color: #e88005 !important; padding-top: 20px;}
.p_h_plan { background-color: #0a4595 !important; padding-top: 20px;}

.banner_h img {
	width: 100%;
	height: auto;
}

.nav-logo-home {
	display: table;
	clear: left;
	content: '';
}

.nav-logo-home .img {
	width: auto;
	height: inherit;
}

.h_title { font-size: 25px ; }
.h_content { font-size: 16px ; }
.h_l_h { line-height: 2em ; }

.bg-input { padding: 20px 20px 10px; background-color: rgba(0,0,0,.3); margin-bottom: 0; }
.bg-btn { padding: 10px 20px 20px; background-color: rgba(0,0,0,.3); }


.m-t-10-p { margin-top: 10% !important; }

.p_h { margin: 0 auto; width: 900px; }
.p_h_t1 { font-size: 50px; }
.p_h_t2 { font-size: 20px; }

.p_h_l { float: left !important; }
.p_h_r { float: right !important; }


#bg-test {
	width: 100px;
	height: 100px;
	background: url("../../images/images1.6/home/partner-01-gray.png") no-repeat;
}

.wechat img {
	width: 200px;
	height: 200px;
}

.wechat div { background-color: #fff; color: #333; font-size: 16px; margin-top: -10px; padding-bottom: 10px; }

.wechat {
	position: absolute;
	top: -240px;
	left: -74px;
	display: none;
}

a.weixin:hover .wechat {
	display: block;
}

.btn-agent {
	width: 340px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 30px;
	padding: 10px;
}

.p-agent-b {
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}

.p-agent-b .infomation {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 0;
}

.p-agent-b .infomation .title { font-size: 48px; color: #fff; }
.p-agent-b .infomation .button {
	margin: 20px auto;
	width: 300px;
	padding: 15px 20px;
	background-color: rgba(0,0,0,.5);
	font-size: 24px;
	color: #fff;
}

.p_a_h1 { font-size: 60px; margin-top: 15%; }
.p_a_h2 { font-size: 30px; margin-bottom: 20px;}

@media (max-width:1280px ) {
	.p_a_h1 { font-size: 42px; margin-left: 15%; }
	.p_a_h2 { font-size: 24px; margin-left: 15%;}
	.btn-agent { font-size: 24px; width: 300px; margin-left: 15%;}
}

@media (max-width: 960px ) {
	.m-t-10-p { margin-top: 15% !important; }
	.p_h { width: 640px; }
	.p_h_l { display: none !important; }
	.p_h_r { float: none !important; }
	.p_h_r section:first-child .has-success { padding-right: 0 !important; margin-bottom: 5px !important; }
	.p_h_r section:first-child { float: left !important; }
	.p_h_r section:last-child { float: right !important; }

	.p_a_h1 { font-size: 42px; margin-left: 60px; }
	.p_a_h2 { font-size: 24px; margin-left: 60px;}
	.btn-agent { font-size: 24px; width: 300px; margin-left: 60px;}

	.p-agent-b .infomation { top:15%  }
	.p-agent-b .infomation .title { font-size: 40px; }
	.p-agent-b .infomation .button { font-size: 14px; width: 200px }
}

@media (max-width: 768px) {
	.p_m.h_m { margin-top:0 !important; }

	.p-list { margin-left: 100px; }

	.p_a_h1 { font-size: 30px; margin-left: 100px; margin-top: 10% }
	.p_a_h2 { display: none !important;}
	.btn-agent { font-size: 14px; width: 200px; margin-left: 100px;}

	.p_f_bd { display: none !important; }

	.p-agent-b .infomation { top:10%  }
	.p-agent-b .infomation .title { font-size: 30px; }
	.p-agent-b .infomation .button { font-size: 14px; width: 200px }
}

@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}

	.bg-input { padding: 20px 10px 20px 20px; background-color: rgba(0,0,0,.3); }
	.bg-btn { padding: 20px 20px 20px 10px; background-color: rgba(0,0,0,.3); }
}



@keyframes paroxBreath
{
0	{background-color:rgba(205,205,205,0); box-shadow:0 0 15px rgba(255,255,255,0);}
50% {background-color: rgba(205,205,205,0.5);box-shadow:0 0 15px rgba(255,255,255,1);}
100%{background-color:rgba(205,205,205,0);box-shadow:0 0 15px rgba(255,255,255,0);}
}

@-moz-keyframes paroxBreath
{
0	{background-color:rgba(255,255,255,0); box-shadow:0 0 15px rgba(255,255,255,0);}
50% {background-color: rgba(255,255,255,0.8);box-shadow:0 0 15px rgba(255,255,255,1);}
100%{background-color:rgba(255,255,255,0);box-shadow:0 0 15px rgba(255,255,255,0);}
}

@-webkit-keyframes paroxBreath
{
0	{background-color:rgba(255,255,255,0); box-shadow:0 0 15px rgba(255,255,255,0);}
50% {background-color: rgba(255,255,255,0.8);box-shadow:0 0 15px rgba(255,255,255,1);}
100%{background-color:rgba(255,255,255,0);box-shadow:0 0 15px rgba(255,255,255,0);}

@-o-keyframes paroxBreath
{
0	{background-color:rgba(255,255,255,0); box-shadow:0 0 15px rgba(255,255,255,0);}
50% {background-color: rgba(255,255,255,0.8);box-shadow:0 0 15px rgba(255,255,255,1);}
100%{background-color:rgba(255,255,255,0);box-shadow:0 0 15px rgba(255,255,255,0);}
}

